        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center" style="padding-bottom: 26px;">
                        <h2 style="text-shadow: 1px 2px 3px #000;font-weight: 600;font-size: 27.68px;">Choose Room</h2>

                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->

                <!-- RESERVATION -->
                <section class="section-reservation-page bg-white">

                    <div class="container">
                        <div class="reservation-page">
                            <div class="row">
                                <!-- SIDEBAR -->
                                <div class="col-md-4 col-lg-3">
                                    <div class="reservation-sidebar">
                                        <div style="padding:0px;margin-top: 15px;">
                                            <img src="assets/frontend/img/side-bannerroom.jpg" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <!-- END / SIDEBAR -->

                                <!-- CONTENT -->
                                <div class="col-md-8 col-lg-9">

                                  <!-- STEP -->
                                  <!--div class="reservation_step" style="margin: 30px 0 0 0;">
                                      <ul style="text-align: left;    padding: 10px 0;">
                                          <li><a routerLink="/room-booking"><span>1.</span>  Choose Date</a></li>
                                          <li class="active"><a routerLink="/choose-room"><span>2.</span> Choose Room</a></li>
                                          <li><span>3.</span> Make a Reservation</li>
                                          <li><span>4.</span> Confirmation</li>
                                      </ul>
                                  </div-->
                                  <!-- END / STEP -->

                                    <div class="reservation_content" style="margin-top: 20px;">

                                        <!-- RESERVATION ROOM -->
                                        <div class="reservation-room">

                                            <!-- ITEM -->
                                            <div class="reservation-room_item" style="margin-top: 20px;">

                                                <h2 class="reservation-room_name"><a style="font-size: 21px;color:#f81e22;">Golden Arowana</a></h2>

                                                <div class="reservation-room_img">
                                                    <a href="#"><img src="assets/frontend/img/gold7.png" alt=""></a>
                                                </div>

                                                <div class="reservation-room_text">

                                                    <div class="reservation-room_desc">
                                                        <p>The gracefully designed Golden Arowana is a very spacious, self-contained 3 bedroom chalets with a cozy and comfortable ambience.</p>
                                                    </div>
                                                    <a href="#" class="reservation-room_view-more">View More Infomation</a>

                                                    <div class="clear"></div>
                                                    <div class="row">
                                                        <div class="col-md-4" style="margin: 7px 0px 0 0px;">
                                                          <span class="label-group" style="font-size:16px;">Number of Rooms</span></div>
                                                        <div class="col-md-8">
                                                            <select class="awe-select form-control">
                                                                <option>Select No of Chalet</option>
                                                                <option>1</option>
                                                            </select>
                                                        </div>
                                                      </div>
                                                    <div class="row">&nbsp;</div>
                                                    <div class="row">
                                                      <div class="col-md-4" style="margin: 7px 0px 0 0px;"><span class="label-group" style="font-size:16px;">Adult</span></div>
                                                      <div class="col-md-3">
                                                          <select class="awe-select form-control">
                                                              <option>1</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                              <option>6</option>
                                                          </select>
                                                      </div>
                                                      <div class="col-md-2" style="margin: 7px 0px 0 0px;"><span class="label-group" style="font-size:16px;">Children</span></div>
                                                      <div class="col-md-3">
                                                          <select class="awe-select form-control">
                                                              <option>1</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                              <option>6</option>
                                                          </select>
                                                      </div>
                                                    </div>
                                                    <div class="row">&nbsp;</div>
                                                    <p class="reservation-room_price">
                                                        <span class="reservation-room_amout">RM 220</span> / days
                                                    </p>

                                                    <a routerLink="/my-cart" class="awe-btn awe-btn-default">BOOK ROOM</a>

                                                </div>
                                            </div>
                                            <!-- END / ITEM -->

                                            <!-- ITEM -->
                                            <div class="reservation-room_item">

                                                <h2 class="reservation-room_name"><a style="font-size: 21px;color:#f81e22;">Blue Arowana</a></h2>

                                                <div class="reservation-room_img">
                                                    <a href="#"><img src="assets/frontend/img/blue1.png" alt=""></a>
                                                </div>

                                                <div class="reservation-room_text">

                                                    <div class="reservation-room_desc">
                                                        <p>Blue Arowana I, II and III are a spacious, self-contained 2 bedroom chalets with a cozy and comfortable ambience.</p>
                                                    </div>

                                                    <a href="#" class="reservation-room_view-more">View More Infomation</a>

                                                    <div class="clear"></div>
                                                    <div class="row">
                                                        <div class="col-md-4" style="margin: 7px 0px 0 0px;">
                                                          <span class="label-group" style="font-size:16px;">Number of Rooms</span></div>
                                                        <div class="col-md-8">
                                                            <select class="awe-select form-control">
                                                                <option>Select No of Chalet</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                            </select>
                                                        </div>
                                                      </div>
                                                    <div class="row">&nbsp;</div>
                                                    <div class="row">
                                                      <div class="col-md-4" style="margin: 7px 0px 0 0px;"><span class="label-group" style="font-size:16px;">Adult</span></div>
                                                      <div class="col-md-3">
                                                          <select class="awe-select form-control">
                                                              <option>1</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                              <option>6</option>
                                                          </select>
                                                      </div>
                                                      <div class="col-md-2" style="margin: 7px 0px 0 0px;"><span class="label-group" style="font-size:16px;">Children</span></div>
                                                      <div class="col-md-3">
                                                          <select class="awe-select form-control">
                                                              <option>1</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                              <option>6</option>
                                                          </select>
                                                      </div>
                                                    </div>
                                                    <div class="row">&nbsp;</div>

                                                    <p class="reservation-room_price">
                                                        <span class="reservation-room_amout">RM 160</span> / days
                                                    </p>

                                                    <a href="#" class="awe-btn awe-btn-default">BOOK ROOM</a>

                                                </div>

                                                <div class="reservation-room_package">

                                                    <a data-toggle="collapse" href="#reservation-room_package-2" class="reservation-room_package-more collapsed" >Show more package</a>

                                                    <div class="reservation-room_package-content collapse" id="reservation-room_package-2">

                                                        <!-- ITEM PACKAGE -->
                                                        <div class="reservation-package_item">

                                                            <div class="reservation-package_img">
                                                                <a href="#"><img src="assets/frontend/images/reservation/package/img-1.jpg" alt=""></a>
                                                            </div>

                                                            <div class="reservation-package_text">

                                                                <h4><a style="font-size: 16px;color:#f81e22;">Blue Arowana I</a></h4>
                                                                <p>Blue Arowana I, II and III are a spacious, self-contained 2 bedroom chalets with a cozy and comfortable ambience.</p>

                                                                <div class="reservation-package_book-price">
                                                                    <p class="reservation-package_price">
                                                                        <span class="amout">RM 160</span>
                                                                    </p>
                                                                    <a href="#" class="awe-btn awe-btn-default">Book Room</a>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!-- END / ITEM PACKAGE -->

                                                        <!-- ITEM PACKAGE -->
                                                        <div class="reservation-package_item">

                                                            <div class="reservation-package_img">
                                                                <a href="#"><img src="assets/frontend/images/reservation/package/img-1.jpg" alt=""></a>
                                                            </div>

                                                            <div class="reservation-package_text">

                                                                <h4><a style="font-size: 16px;color:#f81e22;">Blue Arowana II</a></h4>
                                                                <p>Blue Arowana I, II and III are a spacious, self-contained 2 bedroom chalets with a cozy and comfortable ambience.</p>

                                                                <div class="reservation-package_book-price">
                                                                    <p class="reservation-package_price">
                                                                        <span class="amout">RM 160</span>
                                                                    </p>
                                                                    <a href="#" class="awe-btn awe-btn-default">Book Room</a>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!-- END / ITEM PACKAGE -->

                                                        <!-- ITEM PACKAGE -->
                                                        <div class="reservation-package_item">

                                                            <div class="reservation-package_img">
                                                                <a href="#"><img src="assets/frontend/images/reservation/package/img-1.jpg" alt=""></a>
                                                            </div>

                                                            <div class="reservation-package_text">

                                                                <h4><a style="font-size: 16px;color:#f81e22;">Blue Arowana III</a></h4>
                                                                <p>Blue Arowana I, II and III are a spacious, self-contained 2 bedroom chalets with a cozy and comfortable ambience.</p>

                                                                <div class="reservation-package_book-price">
                                                                    <p class="reservation-package_price">
                                                                        <span class="amout">RM 160</span>
                                                                    </p>
                                                                    <a href="#" class="awe-btn awe-btn-default">Book Room</a>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!-- END / ITEM PACKAGE -->

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- END / ITEM -->

                                            <!-- ITEM -->
                                            <div class="reservation-room_item  current-select">

                                                <h2 class="reservation-room_name"><a style="font-size: 21px;color:#f81e22;">Harmony Rooms</a></h2>

                                                <div class="reservation-room_img">
                                                    <a href="#"><img src="assets/frontend/img/har8.png" alt=""></a>
                                                </div>

                                                <div class="reservation-room_text">

                                                    <div class="reservation-room_desc">
                                                        <p>Fifty twin-sharing standard rooms with modern and functional furnishing.</p>
                                                    </div>

                                                    <a href="#" class="reservation-room_view-more">View More Infomation</a>

                                                    <div class="clear"></div>
                                                    <div class="row">
                                                        <div class="col-md-4" style="margin: 7px 0px 0 0px;">
                                                          <span class="label-group" style="font-size:16px;">Number of Rooms</span></div>
                                                        <div class="col-md-8">
                                                            <select class="awe-select form-control">
                                                                <option>Select No of Rooms</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>49</option>
                                                            </select>
                                                        </div>
                                                      </div>
                                                    <div class="row">&nbsp;</div>
                                                    <div class="row">
                                                      <div class="col-md-4" style="margin: 7px 0px 0 0px;"><span class="label-group" style="font-size:16px;">Adult</span></div>
                                                      <div class="col-md-3">
                                                          <select class="awe-select form-control">
                                                              <option>1</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                              <option>6</option>
                                                          </select>
                                                      </div>
                                                      <div class="col-md-2" style="margin: 7px 0px 0 0px;"><span class="label-group" style="font-size:16px;">Children</span></div>
                                                      <div class="col-md-3">
                                                          <select class="awe-select form-control">
                                                              <option>1</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                              <option>6</option>
                                                          </select>
                                                      </div>
                                                    </div>
                                                    <div class="row">&nbsp;</div>
                                                    <p class="reservation-room_price">
                                                        <span class="reservation-room_amout">RM 80</span> / days
                                                    </p>

                                                    <a href="#" class="awe-btn awe-btn-default">BOOK ROOM</a>

                                                </div>

                                                <div class="reservation-room_package">

                                                    <a data-toggle="collapse" href="#reservation-room_package-3" class="reservation-room_package-more collapsed" >Show more package</a>

                                                    <div class="reservation-room_package-content collapse" id="reservation-room_package-3">

                                                        <!-- ITEM PACKAGE -->
                                                        <div class="reservation-package_item">

                                                            <div class="reservation-package_img">
                                                                <a href="#"><img src="assets/frontend/images/reservation/package/img-1.jpg" alt=""></a>
                                                            </div>
                                                            <div class="reservation-package_text">
                                                                <h4><a style="font-size: 16px;color:#f81e22;">Harmony Rooms 1</a></h4>
                                                                <p>Fifty twin-sharing standard rooms with modern and functional furnishing.</p>
                                                                <div class="reservation-package_book-price">
                                                                    <p class="reservation-package_price">
                                                                        <span class="amout">RM 80</span>
                                                                    </p>
                                                                    <a href="#" class="awe-btn awe-btn-default">Book Room</a>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!-- END / ITEM PACKAGE -->

                                                        <!-- ITEM PACKAGE -->
                                                        <div class="reservation-package_item">

                                                            <div class="reservation-package_img">
                                                                <a href="#"><img src="assets/frontend/images/reservation/package/img-1.jpg" alt=""></a>
                                                            </div>
                                                            <div class="reservation-package_text">
                                                                <h4><a style="font-size: 16px;color:#f81e22;">Harmony Rooms 2</a></h4>
                                                                <p>Fifty twin-sharing standard rooms with modern and functional furnishing.</p>
                                                                <div class="reservation-package_book-price">
                                                                    <p class="reservation-package_price">
                                                                        <span class="amout">RM 80</span>
                                                                    </p>
                                                                    <a href="#" class="awe-btn awe-btn-default">Book Room</a>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!-- END / ITEM PACKAGE -->

                                                        <!-- ITEM PACKAGE -->
                                                        <div class="reservation-package_item">

                                                            <div class="reservation-package_img">
                                                                <a href="#"><img src="assets/frontend/images/reservation/package/img-1.jpg" alt=""></a>
                                                            </div>
                                                            <div class="reservation-package_text">
                                                                <h4><a style="font-size: 16px;color:#f81e22;">Harmony Rooms 49</a></h4>
                                                                <p>Fifty twin-sharing standard rooms with modern and functional furnishing.</p>
                                                                <div class="reservation-package_book-price">
                                                                    <p class="reservation-package_price">
                                                                        <span class="amout">RM 80</span>
                                                                    </p>
                                                                    <a href="#" class="awe-btn awe-btn-default">Book Room</a>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!-- END / ITEM PACKAGE -->

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- END / ITEM -->

                                            <!-- ITEM -->
                                            <div class="reservation-room_item">

                                                <h2 class="reservation-room_name"><a style="font-size: 21px;color:#f81e22;">Solidarity Dorms</a></h2>

                                                <div class="reservation-room_img">
                                                    <a href="#"><img src="assets/frontend/img/dormitory1.png" alt=""></a>
                                                </div>

                                                <div class="reservation-room_text">

                                                    <div class="reservation-room_desc">
                                                        <p>The units most affordable for large groups; cozy and can be fun filled double-deck sleeping bunks.</p>
                                                    </div>

                                                    <a href="#" class="reservation-room_view-more">View More Infomation</a>

                                                    <div class="clear"></div>
                                                    <div class="row">
                                                        <div class="col-md-3" style="margin: 7px 0px 0 0px;">
                                                          <span class="label-group" style="font-size:16px;">Bed Per Dorm</span></div>
                                                        <div class="col-md-3">
                                                            <select class="awe-select form-control">
                                                                <option>Select No of Rooms</option>
                                                                <option>10</option>
                                                                <option>12</option>
                                                                <option>22</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3" style="margin: 7px 0px 0 0px;">
                                                            <span class="label-group" style="font-size:16px;">Number of Dorms</span></div>
                                                          <div class="col-md-3">
                                                              <select class="awe-select form-control">
                                                                  <option>Select No of Dorms</option>
                                                                  <option>10</option>
                                                                  <option>20</option>
                                                                  <option>30</option>
                                                                  <option>40</option>
                                                                  <option>50</option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                    <div class="row">&nbsp;</div>
                                                    <div class="row">
                                                      <div class="col-md-3" style="margin: 7px 0px 0 0px;"><span class="label-group" style="font-size:16px;">Adult</span></div>
                                                      <div class="col-md-3">
                                                          <select class="awe-select form-control">
                                                              <option>1</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                              <option>6</option>
                                                          </select>
                                                      </div>
                                                      <div class="col-md-3" style="margin: 7px 0px 0 0px;"><span class="label-group" style="font-size:16px;">Children</span></div>
                                                      <div class="col-md-3">
                                                          <select class="awe-select form-control">
                                                              <option>1</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                              <option>6</option>
                                                          </select>
                                                      </div>
                                                    </div>
                                                    <div class="row">&nbsp;</div>

                                                    <p class="reservation-room_price">
                                                        <span class="reservation-room_amout">RM 15 </span> / days
                                                    </p>

                                                    <a href="#" class="awe-btn awe-btn-default">BOOK ROOM</a>

                                                </div>

                                                <div class="reservation-room_package">

                                                    <a data-toggle="collapse" href="#reservation-room_package-4" class="reservation-room_package-more collapsed" >Show more package</a>

                                                    <div class="reservation-room_package-content collapse" id="reservation-room_package-4">

                                                        <!-- ITEM PACKAGE -->
                                                        <div class="reservation-package_item">

                                                            <div class="reservation-package_img">
                                                                <a href="#"><img src="assets/frontend/images/reservation/package/img-1.jpg" alt=""></a>
                                                            </div>

                                                            <div class="reservation-package_text">

                                                                <h4><a style="font-size: 16px;color:#f81e22;">Solidarity Dorms 10 Bedded</a></h4>
                                                                <p>The units most affordable for large groups; cozy and can be fun filled double-deck sleeping bunks.</p>

                                                                <div class="reservation-package_book-price">
                                                                    <p class="reservation-package_price">
                                                                        <span class="amout">RM 15</span>
                                                                    </p>
                                                                    <a href="#" class="awe-btn awe-btn-default">Book Room</a>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!-- END / ITEM PACKAGE -->

                                                        <!-- ITEM PACKAGE -->
                                                        <div class="reservation-package_item current-select">

                                                            <div class="reservation-package_img">
                                                                <a href="#"><img src="assets/frontend/images/reservation/package/img-1.jpg" alt=""></a>
                                                            </div>

                                                            <div class="reservation-package_text">

                                                                <h4><a style="font-size: 16px;color:#f81e22;">Solidarity Dorms 12 Bedded</a></h4>
                                                                <p>The units most affordable for large groups; cozy and can be fun filled double-deck sleeping bunks.</p>

                                                                <div class="reservation-package_book-price">
                                                                    <p class="reservation-package_price">
                                                                        <span class="amout">RM 15</span>
                                                                    </p>
                                                                    <a href="#" class="awe-btn awe-btn-default">Book Room</a>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!-- END / ITEM PACKAGE -->

                                                        <!-- ITEM PACKAGE -->
                                                        <div class="reservation-package_item">

                                                            <div class="reservation-package_img">
                                                                <a href="#"><img src="assets/frontend/images/reservation/package/img-1.jpg" alt=""></a>
                                                            </div>

                                                            <div class="reservation-package_text">

                                                                <h4><a style="font-size: 16px;color:#f81e22;">Solidarity Dorms 22 Bedded</a></h4>
                                                                <p>The units most affordable for large groups; cozy and can be fun filled double-deck sleeping bunks.</p>

                                                                <div class="reservation-package_book-price">
                                                                    <p class="reservation-package_price">
                                                                        <span class="amout">RM 15</span>
                                                                    </p>
                                                                    <a href="#" class="awe-btn awe-btn-default">Book Room</a>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!-- END / ITEM PACKAGE -->

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- END / ITEM -->

                                        </div>
                                        <!-- END / RESERVATION ROOM -->

                                    </div>

                                </div>
                                <!-- END / CONTENT -->

                            </div>
                        </div>
                    </div>

                </section>
                <!-- END / RESERVATION -->
