<!-- FOOTER -->
<footer id="footer">


    <!-- FOOTER CENTER -->
    <div class="footer_center">
        <div class="container">
            <div class="row">
               <div class="col-xs-12 col-lg-4">
                <div class="widget widget_logo">
                    <div class="widget-logo" style="padding-top:0px;">
                        <div class="img" >
                            <a routerLink="/home"><img src="assets/frontend/images/logo-header.png" alt=""></a>
                        </div>

                        <p style="color: #acacac;text-align:justify;margin:5px 0;">NUBE Training Center is the flagship recreational and training center for NUBE members, trade unions within the country, region and international, governmental and non- governmental organizations and many student and religious organisations.</p>
                    </div>
                </div>
            </div>
                <div class="col-xs-12 col-lg-3">
                    <div class="widget widget_logo">
                        <div class="widget-logo" style="padding-top:0px;">
                          <h4 class="widget-title">Address</h4>
                            <div class="text">
                                <p><i class="lotus-icon-location"></i>12, NUBE House, 3rd Floor,  Jalan Tun <br>Sambanthan 3, Brickfields, 50470 <br> Kuala Lumpur</p>
                                <p><i class="lotus-icon-phone"></i>+603-2274-9800</p>
                                <p><i class="lotus-icon-phone"></i>+603-2260-1800</p>
                                <p><i class="fa fa-envelope-o"></i> <a href="mailto:nube_hq@nube.org.my">nube_hq@nube.org.my</a></p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xs-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Quick Links</h4>
                        <ul>
                            <li><a routerLink="/aboutus">About Us</a></li>
                            <li><a routerLink="/tariff">Tariff</a></li>
                            <li><a routerLink="/facilities">Facilities</a></li>
                            <li><a routerLink="/gallery">Gallery</a></li>
                            <li><a routerLink="/contactus">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-4 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Social Links</h4>

                          <div class="social">
                            <div class="social-content">
                                <a href="https://www.facebook.com/NUBE.Malaysia" target="_blank" style="display: inline-block;
                                color: #fff;
                                border: 2px solid #ff0000;
                                line-height: 32px;
                                width: 32px;
                                height: 32px;
                                margin-top: 5px;
                                text-align: center;
                                margin-right: 20px;
                                font-size: 16px;
                                border-radius: 50%;
                                -webkit-transition: all .3s ease;"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/nubemalaysia" target="_blank" style="display: inline-block;
                                color: #fff;
                                border: 2px solid #ff0000;
                                line-height: 32px;
                                width: 32px;
                                height: 32px;
                                margin-top: 5px;
                                text-align: center;
                                margin-right: 20px;
                                font-size: 16px;
                                border-radius: 50%;
                                -webkit-transition: all .3s ease;"><i class="fa fa-twitter"></i></a>
                                <a href="#" style="display: inline-block;
                                color: #fff;
                                border: 2px solid #ff0000;
                                line-height: 32px;
                                width: 32px;
                                height: 32px;
                                margin-top: 5px;
                                text-align: center;
                                margin-right: 20px;
                                font-size: 16px;
                                border-radius: 50%;
                                -webkit-transition: all .3s ease;"><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.youtube.com/watch?v=UTO2toyLLiY" target="_blank" style="display: inline-block;
                                color: #fff;
                                border: 2px solid #ff0000;
                                line-height: 32px;
                                width: 32px;
                                height: 32px;
                                margin-top: 5px;
                                text-align: center;
                                margin-right: 20px;
                                font-size: 16px;
                                border-radius: 50%;
                                -webkit-transition: all .3s ease;"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- END / FOOTER CENTER -->

    <!-- FOOTER BOTTOM -->
    <div class="footer_bottom">
        <div class="container">
            <p>&copy; 2018 Nube Hotel All rights reserved.</p>
        </div>
    </div>
    <!-- END / FOOTER BOTTOM -->

</footer>
<!-- END / FOOTER -->
