        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center" style="padding-bottom: 26px;">
                        <h2 style="text-shadow: 1px 2px 3px #000;font-weight: 600;font-size: 27.68px;">My Cart</h2>

                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
<!-- RESERVATION -->
<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">

            <div class="row">

                <!-- SIDEBAR -->
                <div class="col-md-4 col-lg-3">

                    <div class="reservation-sidebar">

                        <!-- SIDEBAR AVAILBBILITY -->
                        <div style="padding:0px;margin-top: 15px;">
                            <img src="assets/frontend/img/side-bannerroom.jpg" class="img-responsive">
                        </div>
                        <!-- END / SIDEBAR AVAILBBILITY -->

                    </div>

                </div>
                <!-- END / SIDEBAR -->

                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">

                        <!--div class="reservation-chosen-message bg-gray text-center">
                            <h4>All Rooms are Selected</h4>
                            <p>You have chosen all of your rooms would<br> you like to continue?</p>
                            <a href="#" class="awe-btn awe-btn-6">GO NEXT STEP</a>
                        </div-->

                        <div class="room-detail_rates">
                            <table border="1" style="border: 1px solid #e4e4e4;">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Room Details</th>
                                        <th>No Of Rooms</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>
                                        <p>23-jun-2018 - 27-jun-2018</p>
                                    </td>
                                    <td>
                                        <p class="price"><span class="amout">Golden Arowana</span></p>
                                    </td>
                                    <td>
                                        <p class="price"><span class="amout">1-Room(s)</span></p>
                                    </td>
                                    <td>
                                        <p class="price"><span class="amout">440.00</span></p>
                                    </td>
                                    <td>
                                        <p class="price"><span class="amout">440.00</span></p>
                                    </td>
                                    <td>
                                       <button mat-mini-fab color="warn">
                                          <mat-icon>delete</mat-icon>
                                       </button>
                                    </td>
                                </tr>

                            </table>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                              <div class="col-md-2">
                                  <button mat-raised-button color="warn">Clear Cart</button>
                              </div>
                              <div class="col-md-2">
                                  <button mat-raised-button color="warn">Continue Booking</button>
                              </div>
                              <div class="col-md-8 text-right">
                                <h3>Cart Totals</h3><br>
                                <h6>SubTotal : RM 470</h6><br>
                                <h6>Total : RM 470</h6><br>
                                <button mat-raised-button color="primary">Proceed to Checkout</button>
                              </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- END / CONTENT -->

            </div>
        </div>
    </div>

</section>
<!-- END / RESERVATION -->
