<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3">
            <h1 class="text-center login-title">&nbsp;</h1>
            <h1 class="text-center login-title">&nbsp;</h1>
            <div class="account-wall">
                <img class="profile-img" src="assets/logo1.png"
                    alt="">
                    <h5 class="card-description text-center">User Credentials</h5>
                <div class="form-signin">
                <input type="text" class="form-control" [(ngModel)]='username' placeholder="User Name" required >
                <br>
                <input [(ngModel)]='password' placeholder="Password" type="password" class="form-control" required>
                <br>
                <button  mat-raised-button color="accent" (click)="Login()" class="btn btn-lg btn-primary btn-block" type="submit">
                    Login</button>
                <!--label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span-->
                </div>
            </div>
            <!--a href="#" class="text-center new-account">Create an account </a-->
        </div>
    </div>
</div>



<!--div>
  <div>
    <select [(ngModel)]='compName' *ngFor='let d of AppLib.companyList'>
      <option>{{d.CompanyName}}</option>
    </select>
    User Name
    <input type="text" [(ngModel)]='username'> Password
    <input type="text" [(ngModel)]='password'>
  </div>
  <div>
    <button (click)='Login()'>Login</button>
  </div>
</div-->
