<!-- SUB BANNER -->
<section class="section-sub-banner bg-9">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center" style="padding-bottom: 26px;">
                <h2 style="text-shadow: 1px 2px 3px #000;font-weight: 600;font-size: 27.68px;">Room Booking</h2>

            </div>
        </div>
    </div>
</section>
<!-- END / SUB BANNER -->

        <!-- RESERVATION -->
        <section class="section-reservation-page bg-white">

          <div class="container">
              <div class="reservation-page">



                  <div class="row">

                      <div class="col-md-2 col-lg-2">

                          <div class="reservation-sidebar">

                              <!-- SIDEBAR AVAILBBILITY -->
                              <div style="padding:0px;margin-top: 15px;">
                                  <img src="assets/frontend/img/side-bannerroom.jpg" class="img-responsive">
                              </div>
                              <!-- END / SIDEBAR AVAILBBILITY -->

                          </div>

                      </div>

                      <div class="col-md-8 col-lg-8">
                          <!-- STEP -->
                  <!--div class="reservation_step" style="margin: 30px 0 0 0;">
                      <ul style="text-align: left;    padding: 20px 0;">
                          <li class="active"><span>1.</span>  Choose Date</li>
                          <li><span>2.</span> Choose Room</li>
                          <li><span>3.</span> Make a Reservation</li>
                          <li><span>4.</span> Confirmation</li>
                      </ul>
                  </div-->
                  <!-- END / STEP -->
                          <div id="from"></div>

                          <div class="reservation_content" style="    border-top: 1px solid #e4e4e4;">
                              <h2 class="reservation-heading">Check Availability</h2>

                              <div class="col-sm-1"></div>
                              <div class="col-sm-10">
                                  <div style="padding: 40px 40px;
                                  border: 1px solid #e4e4e4;    margin: 25px 0px;background: #e2e2e2;">
                                    <form method="POST" action="/choose-room">
                                      <div class="form-group">
                                          <label for="usr">CheckIn Date:</label>
                                          <input type="text" class="awe-calendar awe-input from form-control" placeholder="Arrive">
                                        </div>
                                        <div class="form-group">
                                          <label for="pwd">CheckOut Date:</label>
                                          <input type="text" class="awe-calendar awe-input to form-control" placeholder="Depature">
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox"> If Your are Nube Member </label>
                                          </div>
                                        <div class="form-group">
                                            <a class="awe-btn awe-btn-13" routerLink="/choose-room">FIND THE BEST RATE</a>
                                        </div>
                                      </form>
                                  </div>
                              </div>
                              <div class="col-sm-1"></div>
                          </div>
                      </div>
                      <div class="col-md-2 col-lg-2">
                          <div class="reservation-sidebar">

                              <!-- SIDEBAR AVAILBBILITY -->
                              <div style="padding:0px;margin-top: 15px;">
                                  <img src="assets/frontend/img/side-bannerroom.jpg" class="img-responsive">
                              </div>
                              <!-- END / SIDEBAR AVAILBBILITY -->

                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </section>
      <!-- END / RESERVATION -->
