        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center" style="padding-bottom: 26px;">
                        <h2 style="text-shadow: 1px 2px 3px #000;font-weight: 600;font-size: 27.68px;">Golden Arowana</h2>

                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
<!-- GALLERY -->
<section class="section_page-gallery">
    <div class="container">
        <div class="gallery">

            <!-- GALLERY CONTENT -->
            <div class="gallery-content">
                <div class="row">
                    <div class="gallery-isotope col-4">

                        <!-- ITEM SIZE -->
                        <div class="item-size "></div>
                        <!-- END / ITEM SIZE -->

                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4013.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4013.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                         <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4014.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4014.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                         <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4015.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4015.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4017.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4017.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4023.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4023.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4027.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4027.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4030.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4030.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4032.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4032.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                         <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4034.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4034.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                         <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4046.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4046.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                         <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4047.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4047.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                         <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4050.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4050.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                         <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4051.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4051.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                         <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/GOLDEN_ARWANA/DSC_4054.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/GOLDEN_ARWANA/DSC_4054.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>

            </div>
            <!-- GALLERY CONTENT -->

        </div>
    </div>
</section>
<!-- END / GALLERY -->
