        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center" style="padding-bottom: 26px;">
                        <h2 style="text-shadow: 1px 2px 3px #000;font-weight: 600;font-size: 27.68px;">Harmony</h2>

                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
<!-- GALLERY -->
<section class="section_page-gallery">
    <div class="container">
        <div class="gallery">

            <!-- GALLERY CONTENT -->
            <div class="gallery-content">
                <div class="row">
                    <div class="gallery-isotope col-4">

                        <!-- ITEM SIZE -->
                        <div class="item-size "></div>
                        <!-- END / ITEM SIZE -->

                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/HARMONY/DSC_4125.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/HARMONY/DSC_4125.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                         <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/HARMONY/DSC_4127.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/HARMONY/DSC_4127.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                         <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/HARMONY/DSC_4131.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/HARMONY/DSC_4131.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/HARMONY/DSC_4133.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/HARMONY/DSC_4133.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/HARMONY/DSC_4142.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/HARMONY/DSC_4142.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/HARMONY/DSC_4071.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/HARMONY/DSC_4071.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/HARMONY/DSC_4152.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/HARMONY/DSC_4152.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/HARMONY/DSC_4160.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/HARMONY/DSC_4160.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/HARMONY/DSC_4161.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/HARMONY/DSC_4161.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite dining">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/HARMONY/DSC_4186.png" class="mfp-image" title="Luxury Room view all">
                                    <img src="assets/frontend/HARMONY/DSC_4186.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>

            </div>
            <!-- GALLERY CONTENT -->

        </div>
    </div>
</section>
<!-- END / GALLERY -->
