<nav aria-label="breadcrumb">
  <ol class="breadcrumb primaryb200" style="    padding: 25px 15px;">
    <li class="breadcrumb-item">
      <a href="#">Main</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
      <h1 class="mat-h1">Dashboard</h1>
    </div>
  </div>

  <div class="row-fluid">
      <div class="col-lg-4 col-sm-6">
          <div class="circle-tile ">
            <a href="#"><div class="circle-tile-heading orange"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content orange">
              <div class="circle-tile-description text-faded"> Members</div>
              <div class="circle-tile-number text-faded ">50</div>
              <a class="circle-tile-footer" routerLink="/Admin/ntcMember">More Info<i class="fa fa-chevron-circle-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="circle-tile ">
            <a href="#"><div class="circle-tile-heading red"><i class="fa fa-shopping-cart fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content red">
              <div class="circle-tile-description text-faded"> Bookings </div>
              <div class="circle-tile-number text-faded ">25</div>
              <a class="circle-tile-footer" routerLink="/Admin/booking-master">More Info<i class="fa fa-chevron-circle-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="circle-tile ">
              <a href="#"><div class="circle-tile-heading green"><i class="fa fa-industry fa-fw fa-3x"></i></div></a>
              <div class="circle-tile-content green">
                <div class="circle-tile-description text-faded"> Property </div>
                <div class="circle-tile-number text-faded ">8</div>
                <a class="circle-tile-footer" routerLink="/Admin/property">More Info<i class="fa fa-chevron-circle-right"></i></a>
              </div>
            </div>
          </div>


  </div>


</div>
<br>
<br>
