<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin: 88px 0 0 0;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="assets/frontend/images/slider/1.png" alt="First slide">
      <!-- Static Header -->
      <!--div class="header-text hidden-xs">
                          <div class="col-md-12 text-center">
                              <h2>
                                <span>EACH HOTEL IS</span>
                              </h2>
                              <br>
                              <h3>
                                <span>UNIQUE 60%</span>
                              </h3>
                              <br>
                              <div class="">
                                  <a class="btn btn-theme btn-sm btn-min-block" href="#">JUST LIKE YOU</a></div>
                          </div>
                      </div-->
      <!-- /header-text -->
    </div>
    <div class="item">
      <img src="assets/frontend/images/slider/5.png" alt="Second slide">
      <!-- Static Header -->
      <!--div class="header-text hidden-xs">
                          <div class="col-md-12 text-center">
                              <h2>
                                  <span>Welcome to LOREM IPSUM</span>
                              </h2>
                              <br>
                              <h3>
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                              </h3>
                              <br>
                              <div class="">
                                  <a class="btn btn-theme btn-sm btn-min-block" href="#">JUST LIKE YOU</a></div>
                          </div>
                      </div-->
      <!-- /header-text -->
    </div>
    <div class="item">
      <img src="assets/frontend/images/slider/8.png" alt="Third slide">
      <!-- Static Header -->
      <!--div class="header-text hidden-xs">
                          <div class="col-md-12 text-center">
                              <h2>
                                  <span>Welcome to LOREM IPSUM</span>
                              </h2>
                              <br>
                              <h3>
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                              </h3>
                              <br>
                              <div class="">
                                  <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a></div>
                          </div>
                      </div-->
      <!-- /header-text -->
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" style="font-size: 21px;"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" style="font-size: 21px;"></span>
  </a>
</div>
<!-- /carousel -->

<!-- CHECK AVAILABILITY -->
<section class="section-check-availability">
  <div class="container">
    <div class="check-availability">
      <div class="row">
        <div class="col-lg-2">
          <h2 style="padding-left: 50px;">CHECK AVAILABILITY</h2>
        </div>
        <div class="col-lg-10">
          <form id="ajax-form-search-room" action="" method="post">
            <div class="availability-form">
              <input type="text" name="arrive" class="awe-calendar from" placeholder="Arrival Date" style="margin: 5px;">
              <input type="text" name="departure" class="awe-calendar to" placeholder="Departure Date" style="margin: 5px;">
              <input type="number" name="" placeholder="Adults" style="margin: 5px;">
              <input type="number" name="" placeholder="Childrens" style="margin: 5px;">

              <!--select class="awe-select" name="adults">
                                      <option>Adults</option>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                  </select>
                                  <select class="awe-select" name="children">
                                      <option>Children</option>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                  </select-->
              <div class="vailability-submit" style="vertical-align: sub;">
                  <button class="awe-btn awe-btn-13">FIND THE BEST RATE</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END / CHECK AVAILABILITY -->

<!-- ACCOMD ODATIONS -->
<section class="section-accomd awe-parallax bg-14">
  <div class="container">
    <div class="accomd-modations">
      <div class="row">
        <div class="col-md-12">
          <div class="accomd-modations-header">
            <h2 class="heading">ROOMS & RATES</h2>
            <img src="assets/frontend/images/icon-accmod.png" alt="icon">
            <p>Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum.
              Nam sed placerat libero, non eleifend dolor.</p>
          </div>
        </div>
        <div class="col-md-12">
          <div id="myCarousel" class="carousel slide">

            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-sm-4" style="margin: 10px 0;">
                    <a href="">
                      <img src="assets/frontend/img/gold7.png" alt="Image" class="img-responsive">
                    </a>
                    <div class="caption" style="background: #333;position: absolute;bottom: 0;opacity: .85;width: 92.5%;color: #fff;z-index: 1111;">
                      <div class="col-md-8">
                        <h2 style="color:#fff;font-size: 18px;margin: 12px 0;">
                          <a href="#">Golden Arowana</a>
                        </h2>
                      </div>
                      <div class="col-md-4">
                        <p class="price" style="margin: 12px 0;">
                          <span class="amout">RM 220</span>/day
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4" style="margin: 10px 0;">
                      <a href="">
                        <img src="assets/frontend/img/blue1.png" alt="Image" class="img-responsive">
                      </a>
                      <div class="caption" style="background: #333;position: absolute;bottom: 0;opacity: .85;width: 92.5%;color: #fff;z-index: 1111;">
                        <div class="col-md-8">
                          <h2 style="color:#fff;font-size: 18px;margin: 12px 0;">
                            <a href="#"> Blue Arowana </a>
                          </h2>
                        </div>
                        <div class="col-md-4">
                          <p class="price" style="margin: 12px 0;">
                            <span class="amout">RM 160</span>/day
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4" style="margin: 10px 0;">
                        <a href="">
                          <img src="assets/frontend/img/har8.png" alt="Image" class="img-responsive">
                        </a>
                        <div class="caption" style="background: #333;position: absolute;bottom: 0;opacity: .85;width: 92.5%;color: #fff;z-index: 1111;">
                          <div class="col-md-8">
                            <h2 style="color:#fff;font-size: 18px;margin: 12px 0;">
                              <a href="#">Harmony Rooms</a>
                            </h2>
                          </div>
                          <div class="col-md-4">
                            <p class="price" style="margin: 12px 0;">
                              <span class="amout">RM 80</span>/day
                            </p>
                          </div>
                        </div>
                      </div>

                </div>
                <!--/row-->
              </div>
              <!--/item-->
              <div class="item">
                <div class="row">
                    <div class="col-sm-4" style="margin: 10px 0;">
                        <a href="">
                          <img src="assets/frontend/img/dormitory1.png" alt="Image" class="img-responsive">
                        </a>
                        <div class="caption" style="background: #333;position: absolute;bottom: 0;opacity: .85;width: 92.5%;color: #fff;z-index: 1111;">
                          <div class="col-md-8">
                            <h2 style="color:#fff;font-size: 18px;margin: 12px 0;">
                              <a href="#">Solidarity Dorms</a>
                            </h2>
                          </div>
                          <div class="col-md-4">
                            <p class="price" style="margin: 12px 0;">
                              <span class="amout">RM 15</span>/day
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4" style="margin: 10px 0;">
                          <a href="">
                            <img src="assets/frontend/img/pacifi1.png" alt="Image" class="img-responsive">
                          </a>
                          <div class="caption" style="background: #333;position: absolute;bottom: 0;opacity: .85;width: 92.5%;color: #fff;z-index: 1111;">
                            <div class="col-md-8">
                              <h2 style="color:#fff;font-size: 18px;margin: 12px 0;">
                                <a href="#"> Pacific I </a>
                              </h2>
                            </div>
                            <div class="col-md-4">
                              <p class="price" style="margin: 12px 0;">
                                <span class="amout">RM 80</span>/day
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4" style="margin: 10px 0;">
                            <a href="">
                              <img src="assets/frontend/img/pacifi2.png" alt="Image" class="img-responsive">
                            </a>
                            <div class="caption" style="background: #333;position: absolute;bottom: 0;opacity: .85;width: 92.5%;color: #fff;z-index: 1111;">
                              <div class="col-md-8">
                                <h2 style="color:#fff;font-size: 18px;margin: 12px 0;">
                                  <a href="#"> Pacific II </a>
                                </h2>
                              </div>
                              <div class="col-md-4">
                                <p class="price" style="margin: 12px 0;">
                                  <span class="amout">RM 80</span>/day
                                </p>
                              </div>
                            </div>
                          </div>
                </div>
                <!--/row-->
              </div>
              <!--/item-->
              <div class="item">
                <div class="row">
                    <div class="col-sm-4" style="margin: 10px 0;">
                        <a href="">
                          <img src="assets/frontend/img/pacifi3.png" alt="Image" class="img-responsive">
                        </a>
                        <div class="caption" style="background: #333;position: absolute;bottom: 0;opacity: .85;width: 92.5%;color: #fff;z-index: 1111;">
                          <div class="col-md-8">
                            <h2 style="color:#fff;font-size: 18px;margin: 12px 0;">
                              <a href="#">Pacific I & II</a>
                            </h2>
                          </div>
                          <div class="col-md-4">
                            <p class="price" style="margin: 12px 0;">
                              <span class="amout">RM 160</span>/day
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4" style="margin: 10px 0;">
                          <a href="">
                            <img src="assets/frontend/img/atla1.png" alt="Image" class="img-responsive">
                          </a>
                          <div class="caption" style="background: #333;position: absolute;bottom: 0;opacity: .85;width: 92.5%;color: #fff;z-index: 1111;">
                            <div class="col-md-8">
                              <h2 style="color:#fff;font-size: 18px;margin: 12px 0;">
                                <a href="#"> Atlantic </a>
                              </h2>
                            </div>
                            <div class="col-md-4">
                              <p class="price" style="margin: 12px 0;">
                                <span class="amout">RM 100</span>/day
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4" style="margin: 10px 0;">
                            <a href="">
                              <img src="assets/frontend/img/artic-2.png" alt="Image" class="img-responsive">
                            </a>
                            <div class="caption" style="background: #333;position: absolute;bottom: 0;opacity: .85;width: 92.5%;color: #fff;z-index: 1111;">
                              <div class="col-md-8">
                                <h2 style="color:#fff;font-size: 18px;margin: 12px 0;">
                                  <a href="#"> Artic </a>
                                </h2>
                              </div>
                              <div class="col-md-4">
                                <p class="price" style="margin: 12px 0;">
                                  <span class="amout">RM 80</span>/day
                                </p>
                              </div>
                            </div>
                          </div>

                </div>
                <!--/row-->
              </div>
              <!--/item-->
            </div>
            <!--/carousel-inner-->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="font-size: 60px;padding-top: 7%;">‹</a>

            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="font-size: 60px;padding-top: 7%;    margin-right: 20px;">›</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- ABOUT -->
<section class="section-home-about bg-white">
  <div class="container">
    <div class="home-about">
      <div class="row">
        <div class="col-md-6">
          <div class="img">
            <a href="#">
              <img src="assets/frontend/img/DSC_43011.png" alt="" style="    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);">
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text">
            <h2 class="heading">ABOUT US</h2>
            <span class="box-border"></span>
            <p style="text-align:justify;">NUBE Training Center is the flagship recreational and training center for NUBE members, trade unions within the country, region and international, governmental and non- governmental organizations and many student and religious organisations and the public.

                It is wholly owned by National Union of Bank Employees and its remains its prideful heritage to this very day.

                NTC established in 1975, was the vision of NUBE members; non-executive Bank workers then. </p>
            <a href="#" class="awe-btn awe-btn-default">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END / ABOUT -->

<!-- OUR BEST -->
<section class="section-our-best bg-white">
  <div class="container">

    <div class="our-best">
      <div class="row">

        <div class="col-md-6 col-md-push-6">
          <div class="img">
            <img src="assets/frontend/images/home/ourbest/img-1.jpg" alt="">
          </div>
        </div>

        <div class="col-md-6 col-md-pull-6 ">
          <div class="text">
            <h2 class="heading">NTC Features</h2>
            <p>Our 50 twin-sharing rooms are tastefully furnished with air-conditioning, television and the basic needs of guests to offer maximum comfort and warmth.</p>
            <ul>
              <li>
                <img src="assets/frontend/images/home/ourbest/icon-3.png" alt="icon">Rooms</li>
              <li>
                <img src="assets/frontend/images/home/ourbest/icon-2.png" alt="icon">Chalet</li>
              <li>
                <img src="assets/frontend/images/home/ourbest/icon-4.png" alt="icon">Dormitories</li>
              <li>
                <img src="assets/frontend/images/home/ourbest/icon-5.png" alt="icon">Multi Purpose Hall</li>
              <li>
                <img src="assets/frontend/images/home/ourbest/icon-1.png" alt="icon">Auditoriums</li>
              <li>
                <img src="assets/frontend/images/home/ourbest/icon-6.png" alt="icon">NUBE Cafe</li>
            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
<!-- END / OUR BEST -->
<section id="carousel">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="quote">
          <i class="fa fa-quote-left fa-4x"></i>
        </div>
        <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="5"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item">
              <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore
                  optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
              </blockquote>
            </div>
            <div class="item">
              <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore
                  optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
              </blockquote>
            </div>
            <div class="active item">
              <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore
                  optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
              </blockquote>
            </div>
            <div class="item">
              <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore
                  optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
              </blockquote>
            </div>
            <div class="item">
              <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore
                  optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
              </blockquote>
            </div>
            <div class="item">
              <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore
                  optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- HOME NEW -->
<section class="section-event-news bg-white">
  <div class="container">

    <div class="event-news">
      <div class="row">

        <!-- EVENT -->
        <div class="col-md-6">
          <div class="event">
            <h2 class="heading">EVENT &amp; DEAL</h2>
            <span class="box-border w350"></span>
            <p>&nbsp;</p>
            <div class="row">

              <!-- ITEM -->
              <div class="col-xs-12 col-sm-12">
                <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic1" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic1" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="http://placehold.it/800x400" alt="...">
                      <div class="carousel-caption">
                        <h2>Heading</h2>
                      </div>
                    </div>
                    <div class="item">
                      <img src="http://placehold.it/800x400" alt="...">
                      <div class="carousel-caption">
                        <h2>Heading</h2>
                      </div>
                    </div>
                    <div class="item">
                      <img src="http://placehold.it/800x400" alt="...">
                      <div class="carousel-caption">
                        <h2>Heading</h2>
                      </div>
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic1" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" style="font-size: 21px;"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic1" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" style="font-size: 21px;"></span>
                  </a>
                </div>
              </div>
              <!-- END / ITEM -->

              <!-- ITEM -->
              <div class="col-xs-6">
                <div class="event-item">
                  <div class="img hover-zoom">
                    <a href="#">
                      <img src="assets/frontend/images/home/eventdeal/img-2.jpg" alt="">
                    </a>
                  </div>
                  <div class="text">
                    <div class="text-cn">
                      <h2>SAVE THE DATE</h2>
                      <span>BECCA &amp; ROBERT</span>
                      <a href="#" class="awe-btn awe-btn-12">VIEW MORE</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END / ITEM -->

              <!-- ITEM -->
              <div class="col-xs-6">
                <div class="event-item">
                  <div class="img hover-zoom">
                    <a href="#">
                      <img src="assets/frontend/images/home/eventdeal/img-2.jpg" alt="">
                    </a>
                  </div>
                  <div class="text">
                    <div class="text-cn">
                      <h2>GO ON BEACH. NTC </h2>
                      <a href="#" class="awe-btn awe-btn-12">VIEW MORE</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END / ITEM -->

            </div>
          </div>
        </div>
        <!-- END / EVENT -->

        <!-- NEWS -->
        <div class="col-md-6">
          <div class="news">
            <h2 class="heading">NEWS</h2>
            <span class="box-border w350 space-5"></span>

            <div class="row">

              <!-- ITEM -->
              <div class="col-md-12">
                <div class="news-item">
                  <div class="img">
                    <a href="#">
                      <img src="assets/frontend/images/home/lotusnews/img-1.jpg" alt="">
                    </a>
                  </div>
                  <div class="text">
                    <span class="date">21 / March</span>
                    <h2>
                      <a href="#">UPDATE MENU FOOD IN NTC HOTEL</a>
                    </h2>
                    <a href="" class="read-more">[ Read More ]</a>
                  </div>
                </div>
              </div>
              <!-- END / ITEM -->

              <!-- ITEM -->
              <div class="col-md-12">
                <div class="news-item">
                  <div class="img">
                    <a href="#">
                      <img src="assets/frontend/images/home/lotusnews/img-1.jpg" alt="">
                    </a>
                  </div>
                  <div class="text">
                    <span class="date">8 / March</span>
                    <h2>
                      <a href="#">Nube &amp; Hotel</a>
                    </h2>
                    <a href="" class="read-more">[ Read More ]</a>
                  </div>
                </div>
              </div>
              <!-- END / ITEM -->

              <!-- ITEM -->
              <div class="col-md-12">
                <div class="news-item">
                  <div class="img">
                    <a href="#">
                      <img src="assets/frontend/images/home/lotusnews/img-1.jpg" alt="">
                    </a>
                  </div>
                  <div class="text">
                    <span class="date">16 / February</span>
                    <h2>
                      <a href="#">Nube Hotel Function 2017</a>
                    </h2>
                    <a href="" class="read-more">[ Read More ]</a>
                  </div>
                </div>
              </div>
              <!-- END / ITEM -->

            </div>

            <a href="#" class="awe-btn awe-btn-default">VIEW MORE</a>

          </div>

        </div>
        <!-- END / NEWS -->

      </div>

      <div class="hr"></div>

    </div>

  </div>
</section>
<!-- END / HOME NEW -->
