        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center" style="padding-bottom: 26px;">
                        <h2 style="text-shadow: 1px 2px 3px #000;font-weight: 600;font-size: 27.68px;">Hall Of Unity</h2>

                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
<!-- GALLERY -->
<section class="section_page-gallery">
    <div class="container">
        <div class="gallery">

            <!-- GALLERY CONTENT -->
            <div class="gallery-content">
                <div class="row">
                    <div class="gallery-isotope col-4">

                        <!-- ITEM SIZE -->
                        <div class="item-size "></div>
                        <!-- END / ITEM SIZE -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/hallofunity/DSC_4242.jpg" class="mfp-image" title="">
                                    <img src="assets/frontend/hallofunity/DSC_4242.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/hallofunity/DSC_4272.jpg" class="mfp-image" title="">
                                    <img src="assets/frontend/hallofunity/DSC_4272.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/hallofunity/DSC_4226.jpg" class="mfp-image" title="">
                                    <img src="assets/frontend/hallofunity/DSC_4226.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/hallofunity/DSC_4227.jpg" class="mfp-image" title="">
                                    <img src="assets/frontend/hallofunity/DSC_4227.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/hallofunity/DSC_4234.jpg" class="mfp-image" title="">
                                    <img src="assets/frontend/hallofunity/DSC_4234.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>

            </div>
            <!-- GALLERY CONTENT -->

        </div>
    </div>
</section>
<!-- END / GALLERY -->
