        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center" style="padding-bottom: 26px;">
                        <h2 style="text-shadow: 1px 2px 3px #000;font-weight: 600;font-size: 27.68px;">Pacific I & II</h2>

                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
<!-- GALLERY -->
<section class="section_page-gallery">
    <div class="container">
        <div class="gallery">

            <!-- GALLERY CONTENT -->
            <div class="gallery-content">
                <div class="row">
                    <div class="gallery-isotope col-4">

                        <!-- ITEM SIZE -->
                        <div class="item-size "></div>
                        <!-- END / ITEM SIZE -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/p12/DSC_4238.png" class="mfp-image" title="">
                                    <img src="assets/frontend/p12/DSC_4238.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/p12/DSC_4241.png" class="mfp-image" title="">
                                    <img src="assets/frontend/p12/DSC_4241.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/p12/DSC_4243.png" class="mfp-image" title="">
                                    <img src="assets/frontend/p12/DSC_4243.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/p12/DSC_4247.png" class="mfp-image" title="">
                                    <img src="assets/frontend/p12/DSC_4247.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/p12/DSC_4248.png" class="mfp-image" title="">
                                    <img src="assets/frontend/p12/DSC_4248.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/p12/DSC_4249.png" class="mfp-image" title="">
                                    <img src="assets/frontend/p12/DSC_4249.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/p12/DSC_4251.png" class="mfp-image" title="">
                                    <img src="assets/frontend/p12/DSC_4251.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/p12/DSC_4252.png" class="mfp-image" title="">
                                    <img src="assets/frontend/p12/DSC_4252.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/p12/DSC_4326.png" class="mfp-image" title="">
                                    <img src="assets/frontend/p12/DSC_4326.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/p12/DSC_4330.png" class="mfp-image" title="">
                                    <img src="assets/frontend/p12/DSC_4330.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope">
                            <div class="gallery_item">
                                <a target="_blank" href="assets/frontend/p12/DSC_4331.png" class="mfp-image" title="">
                                    <img src="assets/frontend/p12/DSC_4331.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>

            </div>
            <!-- GALLERY CONTENT -->

        </div>
    </div>
</section>
<!-- END / GALLERY -->
