<div class="container">
  <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 ml-auto mr-auto" style="margin: 100px 0">

          <div class="card card-login">
            <div class="card-header card-header-rose text-center">
              <!--h4 class="card-title">Log in</h4-->
              <img src="assets/logo.png" class="img-responsive" style="margin: 0 auto; display: block">
              <!--div class="social-line">
                <a class="btn btn-just-icon btn-link btn-white" href="#pablo">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a class="btn btn-just-icon btn-link btn-white" href="#pablo">
                  <i class="fa fa-twitter"></i>
                </a>
                <a class="btn btn-just-icon btn-link btn-white" href="#pablo">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div-->
            </div>
            <div class="card-body ">
              <h3 class="card-description text-center">User Credentials</h3>
              <br>
              <select [(ngModel)]='compName' *ngFor='let d of AppLib.companyList'>
                  <option>{{d.CompanyName}}</option>
              </select>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input class="form-control" [(ngModel)]='username' placeholder="User Name" type="text">
                </div>
              </span>
              <br>
              <br>
              <!--span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <input class="form-control" placeholder="Email..." type="email">
                </div>
              </span-->
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input class="form-control" [(ngModel)]='password' placeholder="Password" type="password">
                </div>
              </span>
            </div>
            <br>
              <br>
            <div class="card-footer justify-content-center">
                <button mat-raised-button color="accent" (click)="Login()">Login</button>
            </div>
          </div>
      </div>
      <div class="col-lg-2">
      </div>
  </div>
</div>

<!--div>
  <div>
    <select [(ngModel)]='compName' *ngFor='let d of AppLib.companyList'>
      <option>{{d.CompanyName}}</option>
    </select>
    User Name
    <input type="text" [(ngModel)]='username'> Password
    <input type="text" [(ngModel)]='password'>
  </div>
  <div>
    <button (click)='Login()'>Login</button>
  </div>
</div-->
