<nav aria-label="breadcrumb">
  <ol class="breadcrumb primaryb200" style="    padding: 25px 15px;">
    <li class="breadcrumb-item"><a routerLink="/Admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">property</li>
  </ol>
</nav>
<div class="container-fluid">

    <div class="row-fluid">&nbsp;</div>
    <div class="row-fluid">
        <div class="col-md-2">
          </div>
        <div class="col-md-8">
          <mat-card class="example-card mat-elevation-z10" style="padding: 50px;">
            <mat-card-header style="margin: 25px 0px!important;">
              <mat-card-title>
                  <h3> Property Details</h3>
                  <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
              </mat-card-title>
              <!--mat-card-subtitle>Dog Breed</mat-card-subtitle-->
            </mat-card-header>
            <mat-card-content>
              <div class="example-container">
                <mat-form-field>
                  <input matInput [(ngModel)]="property.OrderNo" placeholder="Order No">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="property.PropertyName" placeholder="Property Name">
                  </mat-form-field>
                  <br>
                  (Choose Status) <mat-slide-toggle
                  class="example-margin" [(ngModel)]="property.IsActive" >
                </mat-slide-toggle>
                <br>
                <button mat-raised-button color="primary" (click)="propertyService.saveProperty(property)">Submit</button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<br>
<br>
