<!-- SUB BANNER -->
<section class="section-sub-banner bg-9">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center" style="padding-bottom: 26px;">
                <h2 style="text-shadow: 1px 2px 3px #000;font-weight: 600;font-size: 27.68px;">Tariff</h2>

            </div>
        </div>
    </div>
</section>
<!-- END / SUB BANNER -->

        <!-- ROOM DETAIL -->
        <section class="section-room-detail bg-white">
            <div class="container">


                <!-- TAB -->
                <div class="room-detail_tab" style="border-top: none;">

                    <div class="row">
                        <div class="col-md-3">
                            <ul class="room-detail_tab-header">
                                <li class="active"><a href="#overview" data-toggle="tab">Accommodation
                                    Facilities</a></li>
                                <li ><a href="#amenities" data-toggle="tab">Rooms Type</a></li>
                                <li><a href="#package" data-toggle="tab">Seminar Facilities</a></li>
                                <li><a href="#rates" data-toggle="tab">Slot</a></li>
                                <li><a href="#calendar" data-toggle="tab">Auditorium</a></li>
                                <li><a href="#Other_Facilities" data-toggle="tab">Other Facilities</a></li>
                            </ul>
                        </div>

                        <div class="col-md-9">
                            <div class="room-detail_tab-content tab-content">

                                <!-- OVERVIEW -->
                                <div class="tab-pane fade active in" id="overview">

                                    <div class="room-detail_rates">
                                        <table border="1" style="border: 1px solid #e4e4e4;">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="2">NUBE / Privilege Members</th>
                                                    <th colspan="2">Public</th>
                                                </tr>
                                                <tr>
                                                    <th>Accommodation
                                                        Facilities</th>
                                                    <th>Weekdays
                                                        (RM)</th>
                                                    <th>Weekend
                                                        (RM)</th>
                                                    <th>Weekdays
                                                        (RM)</th>
                                                    <th>Weekend
                                                        (RM)</th>
                                                </tr>
                                            </thead>
                                            <tr *ngFor= "let rtl of applib.tariffDetailList">
                                              <td>{{rtl.RoomType}}</td>
                                              <td>{{rtl.RateOfWeekDayMember}}</td>
                                              <td>{{rtl.RateOfWeekEndMember}}</td>
                                              <td>{{rtl.RateOfWeekDayNonMember}}</td>
                                              <td>{{rtl.RateOfWeekEndNonMember}}</td>

                                            </tr>

                                        </table>
                                    </div>

                                    <div class="room-detail_overview">
                                        <h6 class='text-uppercase
                                        ' style="margin-top: 0px;">* Weekends Rates - Rate from Friday - Saturday & Eve of Public Holiday</h6>
                                        <p class='text-uppercase
                                        '>* GST6% -as Applicable</p>

                                    </div>

                                </div>
                                <!-- END / OVERVIEW -->

                                <!-- AMENITIES -->
                                <div class="tab-pane fade" id="amenities">
                                    <div class="room-detail_rates">
                                        <table border="1" style="border: 1px solid #e4e4e4;">
                                            <thead>
                                                <tr>
                                                    <th>Rooms Type</th>
                                                    <th>No of Unit</th>
                                                    <th>No of Bed</th>
                                                    <th>Total</th>
                                                    <th>Mattress</th>
                                                </tr>
                                            </thead>
                                            <tr *ngFor="let roomtd of applib.roomTypeDetailList">
                                                <td>{{roomtd.RoomType}}</td>
                                                <td>{{roomtd.NoOfUnit}}/{{roomtd.NoOfUnitDescription}}</td>
                                                <td>{{roomtd.NoOfBed}}/{{roomtd.NoOfBedDescription}}</td>
                                                <td>{{RoomTotal(roomtd.Id)}}</td>
                                                <td>Mattress-{{roomtd.Mattress}}</td>

                                            </tr>

                                        </table>
                                    </div>

                                </div>
                                <!-- END / AMENITIES -->

                                <!-- PACKAGE -->
                                <div class="tab-pane fade" id="package">
                                    <div class="room-detail_rates">
                                        <table border="1" style="border: 1px solid #e4e4e4;">
                                            <thead>
                                                <tr>
                                                    <th>Seminar Facilities</th>
                                                    <th>Rates (RM)</th>
                                                </tr>
                                            </thead>
                                            <tr *ngFor="let halldetail of applib.hallTariffDetailList">
                                                <td>{{halldetail.HallType}}</td>
                                                <td>{{halldetail.Amount}}</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                                <!-- END / PACKAGE -->

                                <!-- RATES -->
                                <div class="tab-pane fade" id="rates">
                                    <div class="room-detail_rates">
                                        <table border="1" style="border: 1px solid #e4e4e4;">
                                            <thead>
                                                <tr>
                                                    <th>Slot</th>
                                                    <th>Time</th>
                                                </tr>
                                            </thead>
                                            <tr *ngFor="let slot of applib.hallSlotList">
                                               <td>{{slot.SlotName}}</td>
                                               <td>{{slot.TimeFrom | date:'hh:mm a'}} - {{slot.TimeTo| date:'hh:mm a'}}</td>
                                            </tr>



                                        </table>
                                    </div>
                                    <div class="room-detail_overview">
                                        <h6 class='text-uppercase
                                        ' style="margin-top: 0px;">*  Charges every 4 hours or part theof inclusive of chairs and tables.</h6>
                                        <p>&nbsp;</p>
                                        <p class='text-uppercase
                                        '>**  Rental of chairs and tables from NUBE is RM0.20 each and RM2.00 each respectively. Cleaning the hall will be RM20.00 per rental.</p>

                                    </div>
                                </div>
                                <!-- END / RATES -->

                                <!-- CALENDAR -->
                                <div class="tab-pane fade" id="calendar">
                                    <div class="room-detail_overview">
                                        <h5 class='text-uppercase
                                        ' style="margin-top: 0px;">SEATING ARRANGEMENT FOR AUDITORIUM AND HALL OF UNITY</h5>
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="room-detail_rates">
                                        <table border="1" style="border: 1px solid #e4e4e4;">
                                            <thead>

                                                <tr >
                                                    <th>Auditorium</th>
                                                    <th *ngFor= "let halltype of applib.hallTypeList">{{halltype.Type}}</th>

                                                    <th>Hall of Unity</th>
                                                </tr>
                                            </thead>
                                            <tr *ngFor= "let Auditorium of applib.auditoriumList">
                                                <td>
                                                    <p class="price"><span class="amout">{{Auditorium.Name}}</span></p>
                                                </td>
                                                <td *ngFor= "let halltype of applib.hallTypeList">{{hallTariffDetail(halltype.Id,Auditorium.Id)}}</td>
                                                <td>
                                                    <p  class="price"><span class="amout">{{AuditoriumTotal(Auditorium.Id)}}</span></p>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                    <!-- <div class="room-detail_rates">
                                        <table border="1" style="border: 1px solid #e4e4e4;">
                                            <thead>

                                                <tr >
                                                    <th>Auditorium</th>
                                                    <th>Pacific I</th>
                                                    <th>Pacific II</th>
                                                    <th>Pacific I & II</th>
                                                    <th>Atlantic</th>
                                                    <th>Artic</th>
                                                    <th>Hall of Unity</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <p class="price"><span class="amout">Theater Design</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">80</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">80</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">200</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">150</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">70</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">500</span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="price"><span class="amout">U Shape Design</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">30</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">30</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">50</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">50</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">26</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">50</span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="price"><span class="amout">Class Room Design</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">40</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">40</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">110</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">80</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">40</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">150</span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="price"><span class="amout">Round Table For Dinner</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">-</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">-</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">-</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">-</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">-</span></p>
                                                </td>
                                                <td>
                                                    <p class="price"><span class="amout">350</span></p>
                                                </td>
                                            </tr>

                                        </table>
                                    </div> -->
                                </div>
                                <!-- END / CALENDAR -->

                                <!-- CALENDAR -->
                                <div class="tab-pane fade" id="Other_Facilities">
                                    <div class="room-detail_rates">
                                        <table border="1" style="border: 1px solid #e4e4e4;">
                                            <thead>
                                                <tr>
                                                    <th>Other Facilities</th>
                                                    <th>Rates</th>
                                                </tr>
                                            </thead>
                                            <tr *ngFor="let item of applib.itemDetailList ">
                                              <td>{{item.ItemName}}</td>
                                              <td>{{item.Rate}}</td>
                                            </tr>

                                        </table>
                                    </div>
                                  </div>
                                  <!-- END / CALENDAR -->


                            </div>
                        </div>

                    </div>

                </div>
                <!-- END / TAB -->

            </div>
            <div class="container"> &nbsp; </div>
            <div class="container">  <hr> </div>

            <div class="container"> &nbsp; </div>
            <div class="container">
                <div class="room-detail_amenities">
                    <h5 style="font-weight:bold;color: red;
                    font-size: 21px;">Note:</h5>
                    <br>
                    <ul>
                        <li>1. Where rates are not stipulated, the rates for public shall apply</li>
                        <li>2. All Seminar Aids are for hire at the Auditorium only</li>
                    </ul>
                    <br>
                    <h5 style="font-weight:bold;color: red;
                    font-size: 21px;">Service Charge</h5>
                    <br>
                    <ul>
                        <li>In addition to the above rate, a 5% Service Charge will be levied on accommodation / conference hall / food and drinks upon checkout.</li>
                    </ul>

                    <br>
                    <h5 style="font-weight:bold;color: red;
                    font-size: 21px;">Change of Rates / Complimentary Items</h5>
                    <br>
                    <ul>
                        <li>The Management reserves the right to change the above-mentioned rates and / or complimentary items at its sole discretion. Our friendly staffs take pleasure in seeing to your requests.</li>
                    </ul>


                </div>
            </div>
        </section>
        <!-- END / SHOP DETAIL -->
