        <!-- GOOGLE FONT -->
        <link href='http://fonts.googleapis.com/css?family=Hind:400,300,500,600%7cMontserrat:400,700' rel='stylesheet' type='text/css'>

          <!-- CSS LIBRARY -->
          <link rel="stylesheet" type="text/css" href="/assets/frontend/css/lib/font-awesome.min.css">
          <link rel="stylesheet" type="text/css" href="/assets/frontend/css/lib/font-lotusicon.css">
          <link rel="stylesheet" type="text/css" href="/assets/frontend/css/lib/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="/assets/frontend/css/lib/owl.carousel.css">
          <link rel="stylesheet" type="text/css" href="/assets/frontend/css/lib/jquery-ui.min.css">
          <link rel="stylesheet" type="text/css" href="/assets/frontend/css/lib/magnific-popup.css">
          <link rel="stylesheet" type="text/css" href="/assets/frontend/css/lib/settings.css">
          <link rel="stylesheet" type="text/css" href="/assets/frontend/css/lib/bootstrap-select.min.css">

          <!-- MAIN STYLE -->
          <link rel="stylesheet" type="text/css" href="/assets/frontend/css/style.css">

<!-- LOAD JQUERY -->
<script type="text/javascript" src="/assets/frontend/js/lib/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/bootstrap-select.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/jquery.appear.min.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/jquery.countTo.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/SmoothScroll.js"></script>
<!-- validate -->
<script type="text/javascript" src="/assets/frontend/js/lib/jquery.form.min.js"></script>
<script type="text/javascript" src="/assets/frontend/js/lib/jquery.validate.min.js"></script>
<!-- Custom jQuery -->
<script type="text/javascript" src="/assets/frontend/js/scripts.js"></script>


        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->

        <!-- CSS LIBRARY -->
        <!-- <link rel="stylesheet" type="text/css" href="http://grasp.com.my/ntcscripts/frontend/css/lib/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="http://grasp.com.my/ntcscripts/frontend/css/lib/font-lotusicon.css">
        <link rel="stylesheet" type="text/css" href="http://grasp.com.my/ntcscripts/frontend/css/lib/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="http://grasp.com.my/ntcscripts/frontend/css/lib/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="http://grasp.com.my/ntcscripts/frontend/css/lib/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="http://grasp.com.my/ntcscripts/frontend/css/lib/magnific-popup.css">
        <link rel="stylesheet" type="text/css" href="http://grasp.com.my/ntcscripts/frontend/css/lib/settings.css">
        <link rel="stylesheet" type="text/css" href="http://grasp.com.my/ntcscripts/frontend/css/lib/bootstrap-select.min.css">

        <!-- MAIN STYLE -->
        <!--link rel="stylesheet" type="text/css" href="http://grasp.com.my/ntcscripts/frontend/css/style.css"> -->

<header id="header">

  <!-- HEADER TOP -->
  <div class="header_top">
      <div class="container">
          <div class="header_left float-left">

              <span><i class="lotus-icon-location"></i> KM 13.5 Jalan Pantai, Teluk Kemang
71050 Port Dickson</span>
              <span><i class="lotus-icon-phone"></i>606-6625207</span>
          </div>
          <div class="header_right float-right">

              <span class="login-register">
                  <a routerLink="/login" >Login</a>
                  <a href="register.html">register</a>
                  <a href="register.html">Cart</a>
              </span>
          </div>
      </div>
  </div>
  <!-- END / HEADER TOP -->

  <!-- HEADER LOGO & MENU -->
  <div class="header_content" id="header_content">

      <div class="container">
          <!-- HEADER LOGO -->
          <div class="header_logo">
              <a href="#"><img src="/assets/frontend/images/logo-header.png" alt=""></a>
          </div>
          <!-- END / HEADER LOGO -->

          <!-- HEADER MENU -->
          <nav class="header_menu">
              <ul class="menu">

                  <li class="current-menu-item"><a href="index.html">Home</a></li>
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="tariff.html">Tariff</a></li>
                  <li><a href="facilities.html">Facilities</a></li>
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="room.html">Room Booking</a></li>
                  <li><a href="hall.html">Hall Booking</a></li>
                  <li><a href="contact.html">Contact</a></li>
              </ul>
          </nav>
          <!-- END / HEADER MENU -->

          <!-- MENU BAR -->
          <span class="menu-bars">
              <span></span>
          </span>
          <!-- END / MENU BAR -->

      </div>
  </div>
  <!-- END / HEADER LOGO & MENU -->

</header>
<!-- END / HEADER -->
