        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center" style="padding-bottom: 26px;">
                        <h2 style="text-shadow: 1px 2px 3px #000;font-weight: 600;font-size: 27.68px;">Choose Hall</h2>

                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->

                <!-- RESERVATION -->
                <section class="section-reservation-page bg-white">

                    <div class="container">
                        <div class="reservation-page">
                            <div class="row">
                                <!-- SIDEBAR -->
                                <div class="col-md-4 col-lg-3">
                                    <div class="reservation-room_item" style="margin: 40px 0 20px 0;">
                                        <h2 class="reservation-room_name"><a style="font-size: 21px;color:#f81e22;">Slots Timing</a></h2>
                                    </div>

                                    <div class="room-detail_rates" >

                                        <table border="1" style="border: 1px solid #e4e4e4;">
                                            <thead>
                                                <tr>
                                                    <th>Slot</th>
                                                    <th>Time</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <p>Slot I</p>
                                                </td>
                                                <td>
                                                    <p >08:00 AM - 12:00 PM</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Slot II</p>
                                                </td>
                                                <td>
                                                    <p >2:00 PM - 06:00 PM</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Slot III</p>
                                                </td>
                                                <td>
                                                    <p >07:00 PM - 11:00 PM</p>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="reservation-sidebar">
                                        <div style="padding:0px;margin-top: 15px;">
                                            <img src="assets/frontend/img/side-bannerroom.jpg" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <!-- END / SIDEBAR -->

                                <!-- CONTENT -->
                                <div class="col-md-8 col-lg-9">

                                  <!-- STEP -->
                                  <!--div class="reservation_step" style="margin: 30px 0 0 0;">
                                      <ul style="text-align: left;    padding: 10px 0;">
                                          <li><a routerLink="/room-booking"><span>1.</span>  Choose Date</a></li>
                                          <li class="active"><a routerLink="/choose-room"><span>2.</span> Choose Room</a></li>
                                          <li><span>3.</span> Make a Reservation</li>
                                          <li><span>4.</span> Confirmation</li>
                                      </ul>
                                  </div-->
                                  <!-- END / STEP -->

                                    <div class="reservation_content" style="margin-top: 20px;">

                                        <!-- RESERVATION ROOM -->
                                        <div class="reservation-room">

                                            <!-- ITEM -->
                                            <div class="reservation-room_item" style="margin-top: 20px;">
                                                <h2 class="reservation-room_name"><a style="font-size: 21px;color:#f81e22;">Pacific I</a></h2>
                                                <div class="reservation-room_img">
                                                    <a href="#"><img src="assets/frontend/img/pacifi1.png" alt=""></a>
                                                </div>
                                                <div class="reservation-room_text">
                                                    <div class="reservation-room_desc">
                                                        <p>Pacific I, fully air conditioned hall to house a host of functions with theater style sitting for approximately 100 pax.</p>
                                                    </div>
                                                    <a routerLink="/choose-hall" class="reservation-room_view-more">View More Infomation</a>
                                                    <div class="clear"></div>
                                                    <div class="row">
                                                        <div class="col-md-4" style="margin: 7px 0px 0 0px;">
                                                          <span class="label-group" style="font-size:16px;">Slots</span></div>
                                                        <div class="col-md-8">
                                                            <select class="awe-select form-control">
                                                                <option>Select Slots</option>
                                                                <option>Slot I</option>
                                                                <option>Slot II</option>
                                                                <option>Slot III</option>
                                                            </select>
                                                        </div>
                                                      </div>
                                                    <div class="row">&nbsp;</div>
                                                    <p class="reservation-room_price">
                                                        <span class="reservation-room_amout">RM 80</span> / days
                                                    </p>
                                                    <a routerLink="/my-cart" class="awe-btn awe-btn-default">BOOK ROOM</a>
                                                </div>
                                            </div>
                                            <!-- END / ITEM -->
                                             <!-- ITEM -->
                                             <div class="reservation-room_item" style="margin-top: 20px;">
                                                <h2 class="reservation-room_name"><a style="font-size: 21px;color:#f81e22;">Pacific II</a></h2>
                                                <div class="reservation-room_img">
                                                    <a href="#"><img src="assets/frontend/img/pacifi2.png" alt=""></a>
                                                </div>
                                                <div class="reservation-room_text">
                                                    <div class="reservation-room_desc">
                                                        <p>Pacific II, fully air conditioned hall to house a host of functions with theater style </p>
                                                    </div>
                                                    <a routerLink="/choose-hall" class="reservation-room_view-more">View More Infomation</a>
                                                    <div class="clear"></div>
                                                    <div class="row">
                                                        <div class="col-md-4" style="margin: 7px 0px 0 0px;">
                                                          <span class="label-group" style="font-size:16px;">Slots</span></div>
                                                        <div class="col-md-8">
                                                            <select class="awe-select form-control">
                                                                <option>Select Slots</option>
                                                                <option>Slot I</option>
                                                                <option>Slot II</option>
                                                                <option>Slot III</option>
                                                            </select>
                                                        </div>
                                                      </div>
                                                    <div class="row">&nbsp;</div>
                                                    <p class="reservation-room_price">
                                                        <span class="reservation-room_amout">RM 80</span> / days
                                                    </p>
                                                    <a routerLink="/my-cart" class="awe-btn awe-btn-default">BOOK ROOM</a>
                                                </div>
                                            </div>
                                            <!-- END / ITEM -->
                                             <!-- ITEM -->
                                             <div class="reservation-room_item" style="margin-top: 20px;">
                                                <h2 class="reservation-room_name"><a style="font-size: 21px;color:#f81e22;">Pacific I & II</a></h2>
                                                <div class="reservation-room_img">
                                                    <a href="#"><img src="assets/frontend/img/pacifi3.png" alt=""></a>
                                                </div>
                                                <div class="reservation-room_text">
                                                    <div class="reservation-room_desc">
                                                        <p>A fully air conditioned hall to house a host of functions with theater style sitting for approximately 120 pax.</p>
                                                    </div>
                                                    <a routerLink="/choose-hall" class="reservation-room_view-more">View More Infomation</a>
                                                    <div class="clear"></div>
                                                    <div class="row">
                                                        <div class="col-md-4" style="margin: 7px 0px 0 0px;">
                                                          <span class="label-group" style="font-size:16px;">Slots</span></div>
                                                        <div class="col-md-8">
                                                            <select class="awe-select form-control">
                                                                <option>Select Slots</option>
                                                                <option>Slot I</option>
                                                                <option>Slot II</option>
                                                                <option>Slot III</option>
                                                            </select>
                                                        </div>
                                                      </div>
                                                    <div class="row">&nbsp;</div>
                                                    <p class="reservation-room_price">
                                                        <span class="reservation-room_amout">RM 160</span> / days
                                                    </p>
                                                    <a routerLink="/my-cart" class="awe-btn awe-btn-default">BOOK ROOM</a>
                                                </div>
                                            </div>
                                            <!-- END / ITEM -->
                                            <!-- ITEM -->
                                            <div class="reservation-room_item" style="margin-top: 20px;">
                                                <h2 class="reservation-room_name"><a style="font-size: 21px;color:#f81e22;">Atlantic</a></h2>
                                                <div class="reservation-room_img">
                                                    <a href="#"><img src="assets/frontend/img/atla1.png" alt=""></a>
                                                </div>
                                                <div class="reservation-room_text">
                                                    <div class="reservation-room_desc">
                                                        <p>A fully air conditioned hall adjacent to Pacific I and II.</p>
                                                    </div>
                                                    <a routerLink="/choose-hall" class="reservation-room_view-more">View More Infomation</a>
                                                    <div class="clear"></div>
                                                    <div class="row">
                                                        <div class="col-md-4" style="margin: 7px 0px 0 0px;">
                                                          <span class="label-group" style="font-size:16px;">Slots</span></div>
                                                        <div class="col-md-8">
                                                            <select class="awe-select form-control">
                                                                <option>Select Slots</option>
                                                                <option>Slot I</option>
                                                                <option>Slot II</option>
                                                                <option>Slot III</option>
                                                            </select>
                                                        </div>
                                                      </div>
                                                    <div class="row">&nbsp;</div>
                                                    <p class="reservation-room_price">
                                                        <span class="reservation-room_amout">RM 100</span> / days
                                                    </p>
                                                    <a routerLink="/my-cart" class="awe-btn awe-btn-default">BOOK ROOM</a>
                                                </div>
                                            </div>
                                            <!-- END / ITEM -->
                                            <!-- END / ITEM -->
                                            <!-- ITEM -->
                                            <div class="reservation-room_item" style="margin-top: 20px;">
                                                <h2 class="reservation-room_name"><a style="font-size: 21px;color:#f81e22;">Artic</a></h2>
                                                <div class="reservation-room_img">
                                                    <a href="#"><img src="assets/frontend/img/artic-2.png" alt=""></a>
                                                </div>
                                                <div class="reservation-room_text">
                                                    <div class="reservation-room_desc">
                                                        <p>A small private function room on the first floor of NTC and fully air conditioned.</p>
                                                    </div>
                                                    <a routerLink="/choose-hall" class="reservation-room_view-more">View More Infomation</a>
                                                    <div class="clear"></div>
                                                    <div class="row">
                                                        <div class="col-md-4" style="margin: 7px 0px 0 0px;">
                                                          <span class="label-group" style="font-size:16px;">Slots</span></div>
                                                        <div class="col-md-8">
                                                            <select class="awe-select form-control">
                                                                <option>Select Slots</option>
                                                                <option>Slot I</option>
                                                                <option>Slot II</option>
                                                                <option>Slot III</option>
                                                            </select>
                                                        </div>
                                                      </div>
                                                    <div class="row">&nbsp;</div>
                                                    <p class="reservation-room_price">
                                                        <span class="reservation-room_amout">RM 80</span> / days
                                                    </p>
                                                    <a routerLink="/my-cart" class="awe-btn awe-btn-default">BOOK ROOM</a>
                                                </div>
                                            </div>
                                            <!-- END / ITEM -->
                                             <!-- ITEM -->
                                             <div class="reservation-room_item" style="margin-top: 20px;">
                                                <h2 class="reservation-room_name"><a style="font-size: 21px;color:#f81e22;">Hall of Unity</a></h2>
                                                <div class="reservation-room_img">
                                                    <a href="#"><img src="assets/frontend/img/DSC_4242.png" alt=""></a>
                                                </div>
                                                <div class="reservation-room_text">
                                                    <div class="reservation-room_desc">
                                                        <p>A diversified non-air conditioned hall multipurpose hall that can be easily converted with some creativity into a suitable venue whether for work or play.</p>
                                                    </div>
                                                    <a routerLink="/choose-hall" class="reservation-room_view-more">View More Infomation</a>
                                                    <div class="clear"></div>
                                                    <div class="row">
                                                        <div class="col-md-4" style="margin: 7px 0px 0 0px;">
                                                          <span class="label-group" style="font-size:16px;">Slots</span></div>
                                                        <div class="col-md-8">
                                                            <select class="awe-select form-control">
                                                                <option>Select Slots</option>
                                                                <option>Slot I</option>
                                                                <option>Slot II</option>
                                                                <option>Slot III</option>
                                                            </select>
                                                        </div>
                                                      </div>
                                                    <div class="row">&nbsp;</div>
                                                    <p class="reservation-room_price">
                                                        <span class="reservation-room_amout">RM 60</span> / days
                                                    </p>
                                                    <a routerLink="/my-cart" class="awe-btn awe-btn-default">BOOK ROOM</a>
                                                </div>
                                            </div>
                                            <!-- END / ITEM -->
                                        </div>
                                        <!-- END / RESERVATION ROOM -->

                                    </div>

                                </div>
                                <!-- END / CONTENT -->

                            </div>
                        </div>
                    </div>

                </section>
                <!-- END / RESERVATION -->
