<br>
<br>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
        <h1 class="mat-h1">Dashboard</h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <mat-card >
        <mat-card-header>
          <mat-card-title>Shiba Inu
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
          </mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      

    </div>
  </div>
</div>
<br>
<br>
