        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center" style="padding-bottom: 26px;">
                        <h2 style="text-shadow: 1px 2px 3px #000;font-weight: 600;font-size: 27.68px;">Gallery</h2>

                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
<!-- GALLERY -->
<section class="section_page-gallery" style="padding-bottom:20px;">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
          <h3 class="heading" style="font-size: 21px;">Accommodation</h3>
          <span class="box-border" style="width: 23%;"></span>
          </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row form-group">
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-image">
                    <img src="assets/frontend/img/gallery/gold2.jpg" class="panel-image-preview" />
                    <label for="toggle-1"></label>
                </div>
                <!--input type="checkbox" id="toggle-12" class="panel-image-toggle">
                <div class="panel-body">
                    <h4>Title of Image</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                </div-->
                <div class="panel-footer text-center">
                    <a routerLink="/goldenarowanaGallery">Golden Arowana</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-image">
                    <img src="assets/frontend/img/gallery/blue1.jpg" class="panel-image-preview" />
                    <label for="toggle-1"></label>
                </div>
                <!--input type="checkbox" id="toggle-12" class="panel-image-toggle">
                <div class="panel-body">
                    <h4>Title of Image</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                </div-->
                <div class="panel-footer text-center">
                    <a routerLink="/bluearowanaGallery">Blue Arowana I, II & III</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-image">
                    <img src="assets/frontend/img/gallery/har1.jpg" class="panel-image-preview" />
                    <label for="toggle-1"></label>
                </div>
                <!--input type="checkbox" id="toggle-12" class="panel-image-toggle">
                <div class="panel-body">
                    <h4>Title of Image</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                </div-->
                <div class="panel-footer text-center">
                    <a routerLink="/harmonyGallery">Harmony Rooms</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-image">
                    <img src="assets/frontend/img/gallery/dormitory1.jpg" class="panel-image-preview" />
                    <label for="toggle-1"></label>
                </div>
                <!--input type="checkbox" id="toggle-12" class="panel-image-toggle">
                <div class="panel-body">
                    <h4>Title of Image</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                </div-->
                <div class="panel-footer text-center">
                    <a routerLink="/solidarityGallery">Solidarity Dorms</a>
                </div>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            <h3 class="heading" style="font-size: 21px;">Seminar Facilities</h3>
            <span class="box-border" style="width: 23%;"></span>
            </div>
        </div>
        <div class="row">&nbsp;</div>

        <div class="row form-group">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img src="assets/frontend/img/gallery/pacifi3.jpg" class="panel-image-preview" />
                        <label for="toggle-1"></label>
                    </div>
                    <!--input type="checkbox" id="toggle-12" class="panel-image-toggle">
                    <div class="panel-body">
                        <h4>Title of Image</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                    </div-->
                    <div class="panel-footer text-center">
                        <a routerLink="/pacificGallery">Pacific I & II</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img src="assets/frontend/img/gallery/atla1.jpg" class="panel-image-preview" />
                        <label for="toggle-1"></label>
                    </div>
                    <!--input type="checkbox" id="toggle-12" class="panel-image-toggle">
                    <div class="panel-body">
                        <h4>Title of Image</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                    </div-->
                    <div class="panel-footer text-center">
                        <a routerLink="/atlanticGallery">Atlantic</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img src="assets/frontend/img/gallery/artic-2.jpg" class="panel-image-preview" />
                        <label for="toggle-1"></label>
                    </div>
                    <!--input type="checkbox" id="toggle-12" class="panel-image-toggle">
                    <div class="panel-body">
                        <h4>Title of Image</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                    </div-->
                    <div class="panel-footer text-center">
                        <a routerLink="/articGallery">Artic</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img src="assets/frontend/img/gallery/DSC_4242.jpg" class="panel-image-preview" />
                        <label for="toggle-1"></label>
                    </div>
                    <!--input type="checkbox" id="toggle-12" class="panel-image-toggle">
                    <div class="panel-body">
                        <h4>Title of Image</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                    </div-->
                    <div class="panel-footer text-center">
                        <a >Hall of Unity</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img src="assets/frontend/img/gallery/cafeteria3.jpg" class="panel-image-preview" />
                        <label for="toggle-1"></label>
                    </div>
                    <!--input type="checkbox" id="toggle-12" class="panel-image-toggle">
                    <div class="panel-body">
                        <h4>Title of Image</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                    </div-->
                    <div class="panel-footer text-center">
                        <a routerLink="/cafeteriaGallery">Cafeteria</a>
                    </div>
                </div>
            </div>


            </div>

            <div class="row">
                <div class="col-md-12">
                <h3 class="heading" style="font-size: 21px;">Others</h3>
                <span class="box-border" style="width: 23%;"></span>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row form-group">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img src="assets/frontend/Parking/DSC_123.png" class="panel-image-preview img-responsive"/>
                        <label for="toggle-1"></label>
                    </div>
                    <!--input type="checkbox" id="toggle-12" class="panel-image-toggle">
                    <div class="panel-body">
                        <h4>Title of Image</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                    </div-->
                    <div class="panel-footer text-center">
                        <a routerLink="/parkingGallery">Parking</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img src="assets/frontend/PLAYGROUND/pl1.png" class="panel-image-preview" />
                        <label for="toggle-1"></label>
                    </div>
                    <!--input type="checkbox" id="toggle-12" class="panel-image-toggle">
                    <div class="panel-body">
                        <h4>Title of Image</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                    </div-->
                    <div class="panel-footer text-center">
                        <a routerLink="/playgroundGallery">Playground</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img src="assets/frontend/nubetrainingcenter/nube tc bldg.png" class="panel-image-preview" />
                        <label for="toggle-1"></label>
                    </div>
                    <!--input type="checkbox" id="toggle-12" class="panel-image-toggle">
                    <div class="panel-body">
                        <h4>Title of Image</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                    </div-->
                    <div class="panel-footer text-center">
                        <a routerLink="/ntcGallery">NTC Building</a>
                    </div>
                </div>
            </div>

          </div>
    </div>
</section>
<!-- END / GALLERY -->
