<!-- SUB BANNER -->
<section class="section-sub-banner bg-9">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center" style="padding-bottom: 26px;">
                <h2 style="text-shadow: 1px 2px 3px #000;font-weight: 600;font-size: 27.68px;">ABOUT US</h2>
            </div>
        </div>

    </div>
</section>
<!-- END / SUB BANNER -->
<!-- ABOUT -->
<section class="section-about" style="padding-bottom:0px;">
    <div class="container">
        <div class="about">
            <!-- ITEM -->
            <div class="about-item">
                <div class="img owl-single">
                    <img src="assets/frontend/img/DSC_43011.png" alt="" style="    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);">
                </div>

                <div class="text" style="margin-top:0px;">
                    <h3 class="heading">Welcome to our NTC</h3>
                    <br>
                    <div class="desc">
                        <p style="text-align:justify;">NUBE Training Center is the flagship recreational and training center for NUBE members, trade unions within the country, region and international, governmental and non- governmental organizations and many student and religious organisations and the public.

                            It is wholly owned by National Union of Bank Employees and its remains its prideful heritage to this very day.

                            NTC established in 1975, was the vision of NUBE members; non-executive Bank workers then.  The sense of unity and solidarity was so strong; they contributed one (1) month bonus payment to build their very own recreation facility.
                            </p><br>
                        <p style="text-align:justify;">The NTC houses a variety of accommodation ranging from private bedrooms to family/group chalets and affordable dorms larger groups for official and leisure.

                            NTC has its very own NTC Café to tickle your taste buds. </p>
                    </div>
                </div>

            </div>
            <!-- END / ITEM -->

            <!-- ITEM -->
            <div class="about-item ">
                <div class="text" style="width:100%;margin-top:0px;padding-left:0px;">
                    <div class="desc">
                        <p style="text-align:justify;">NTC Café is proud of its reputation for tasty and affordable food with a variety of menus across the day which features traditional and healthy options to suit all tastes. Complementing the NTC Café is a lounge and bar terrace overlooking the vast blue sea. It is just perfect to relax and enjoy the windy sea breeze along with family and friend to savour mouth watering local and western delicacies twenty-four hours, seven days a week.
                          </p>
                        <p style="text-align:justify;">Alternatively take refuse at our Japanese Garden, one of the main attraction at The NTC to soothe your mind and calm your senses after a long business day or a fund day at the sea and enjoy a drink or two. </p>
                        <p style="text-align:justify;">NTC also offer many opportunities for fun and games.</p>
                        <p style="text-align:justify;">The NTC houses a variety of accommodation ranging from private bedrooms to family/group chalets and affordable dorms for larger groups for business and leisure.</p>
                    </div>
                </div>

            </div>
            <!-- END / ITEM -->

        </div>

    </div>
</section>
<!-- END / ABOUT -->

<!-- HOTEL STATISTICS -->

<!-- OUR BEST -->
<section class="section-our-best bg-white">
  <div class="container">

    <div class="our-best">
      <div class="row">

        <div class="col-md-6 col-md-push-6">
          <div class="img">
            <img src="assets/frontend/img/lobby7.png" alt="">
          </div>
        </div>

        <div class="col-md-6 col-md-pull-6 ">
          <div class="text">
            <h2 class="heading">NTC Features</h2>
            <span class="box-border" style="width: 44%;"></span>
            <br>
            <br>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne" style="padding: 5px 15px;">
                      <h4 class="panel-title">
                          <a style="color: #232323;font-size: 15px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <i class="more-less glyphicon glyphicon-plus" style="float: right;top: 5px;color: #f81e22;"></i>
                              Rooms
                          </a>
                      </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <p style="text-align:justify;margin-top:0px;">Our 50 twin-sharing rooms are tastefully furnished with air-conditioning, television and the basic needs of guests to offer maximum comfort and warmth. Our rooms on the top most floors attract many for the scenic view of the deep blue sea.</p>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading2" style="padding: 5px 15px;">
                    <h4 class="panel-title">
                        <a style="color: #232323;font-size: 15px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            <i class="more-less glyphicon glyphicon-plus" style="float: right;top: 5px;color: #f81e22;"></i>
                            Chalet
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body">
                      <p style="text-align:justify;margin-top:0px;">The gracefully designed unit conspicuously stands out to show your stay there is special. Housing twin-bedded spacious rooms, a living room accompanied with a kitchen and dining makes you feel truly at home.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading3" style="padding: 5px 15px;">
                  <h4 class="panel-title">
                      <a style="color: #232323;font-size: 15px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                          <i class="more-less glyphicon glyphicon-plus" style="float: right;top: 5px;color: #f81e22;"></i>
                          Dormitories
                      </a>
                  </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                  <div class="panel-body">
                    <p style="text-align:justify;margin-top:0px;">Economical and comfortable lodging for big groups attending seminars/conventions or socials jamborees are made possible at our dormitories. Our dormitories are 10 and 12-bedded rooms fully furnished and air conditioned with common washrooms.</p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading4" style="padding: 5px 15px;">
                <h4 class="panel-title">
                    <a style="color: #232323;font-size: 15px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                        <i class="more-less glyphicon glyphicon-plus" style="float: right;top: 5px;color: #f81e22;"></i>
                        Multi Purpose Hall
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                <div class="panel-body">
                  <p style="text-align:justify;margin-top:0px;">A spacious hall aptly used for various functions and easily caters up to 500 persons in theatre style seating. Our Multi Purpose Hall is often also used for private parties, dinner functions and indoor games.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading5" style="padding: 5px 15px;">
              <h4 class="panel-title">
                  <a style="color: #232323;font-size: 15px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                      <i class="more-less glyphicon glyphicon-plus" style="float: right;top: 5px;color: #f81e22;"></i>
                      Auditoriums
                  </a>
              </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
              <div class="panel-body">
                <p style="text-align:justify;margin-top:0px;">Our specialties are our 4 seminar auditoriums equipped with the latest training tools, an ideal destination for small business meetings or seminars and large conventions or events. The four auditoriums are suitably tailored for the different kinds of sessions planned and are able to cater for a capacity from 60 to 200 people.</p>
              </div>
          </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading6" style="padding: 5px 15px;">
            <h4 class="panel-title">
                <a style="color: #232323;font-size: 15px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                    <i class="more-less glyphicon glyphicon-plus" style="float: right;top: 5px;color: #f81e22;"></i>
                    NUBE Cafe
                </a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
            <div class="panel-body">
              <p style="text-align:justify;margin-top:0px;">Complementing our facilities is our NUBE Cafe' accompanied by our lounge and bar terrace overlooking the vast blue sea. It is just perfect to relax and enjoy the windy sea breeze along with family and friends to savor mouth watering delicacies from local to western cuisine twenty-four hours, seven days a week.</p>
            </div>
        </div>
    </div>


          </div><!-- panel-group -->

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
<!-- END / OUR BEST -->

